/* -------------------------------------------------------------------------- */
* {
	padding: 0;
	margin: 0;
}
/* -------------------------------------------------------------------------- */
body {
	background-color: #999;
}

/* #canvas {
	border:2px solid #000000;
} */

#container {
	position: relative;
}

.wrapper {
	overflow: hidden;
	border:2px solid #000000;
	width: 940px;
	height: 570px;
}

.aim {
	position: absolute;
	left: 472px;
	top: 277px;
	width: 16px;
	height: 16px;
	background-image: url("/cursor.png");
}
/* -------------------------------------------------------------------------- */
#two_pistols_left {
	/* border:1px solid #000000; */
	position: absolute;
	left: 0px;
	bottom: -40px;
	width: 400px;
	height: 285px;
	background-image: url("/two_pistols_left.png");
	background-size: 400px 285px;
	transform: rotate(0deg);
}

.shot2_left {
	animation: shot2_left 0.2s linear;
}

@keyframes shot2_left {
	0% {
		bottom: -20px;
		left: 0px;
		transform: rotate(0deg);
	}
	30% {
		bottom: 5px;
		left: -20px;
		transform: rotate(-10deg);
	}
	50% {
		bottom: -10px;
		left: -40px;
		transform: rotate(-20deg);
	}
	80% {
		bottom: -15px;
		left: -20px;
		transform: rotate(-10deg);
	}
	100% {
		bottom: -20px;
		left: 0px;
		transform: rotate(0deg);
	}
}

.shot3_left {
	animation: shot3_left 1.5s infinite linear;
}

@keyframes shot3_left {
	0% {
		bottom: -40px;
	}
	30% {
		bottom: -30px;
	}
	50% {
		bottom: -20px;
	}
	80% {
		bottom: -30px;
	}
	100% {
		bottom: -40px;
	}
}
/* -------------------------------------------------------------------------- */
#two_pistols_right {
	/* border:1px solid #000000; */
	position: absolute;
	right: 0px;
	bottom: -20px;
	width: 400px;
	height: 285px;
	background-image: url("/two_pistols_right.png");
	background-size: 400px 285px;
	transform: rotate(0deg);
}

.shot2_right {
	animation: shot2_right 0.2s linear;
}

@keyframes shot2_right {
	0% {
		bottom: -20px;
		right: 0px;
		transform: rotate(0deg);
	}
	30% {
		bottom: 5px;
		right: -20px;
		transform: rotate(10deg);
	}
	50% {
		bottom: -10px;
		right: -40px;
		transform: rotate(20deg);
	}
	80% {
		bottom: -15px;
		right: -20px;
		transform: rotate(10deg);
	}
	100% {
		bottom: -20px;
		right: 0px;
		transform: rotate(0deg);
	}
}

.shot3_right {
	animation: shot3_right 1.5s infinite linear;
}

@keyframes shot3_right {
	0% {
		bottom: -20px;
	}
	30% {
		bottom: -30px;
	}
	50% {
		bottom: -40px;
	}
	80% {
		bottom: -30px;
	}
	100% {
		bottom: -20px;
	}
}
/* -------------------------------------------------------------------------- */
.hud {
	position: absolute;
	top: 10px;
	right: 10px;
}
/* -------------------------------------------------------------------------- */
.hud-hp {
	border: 2px solid #333;
	width: 200px;
	text-align: center;
	letter-spacing: 2px;
	background-color: #700;
	font-size: 13px;
	font-weight: 600;
	height: 12px;
	position: relative;
}

#hud-hp-progress {
	position: absolute;
	width: 200px;
	height: 12px;
	background-color: #b00;
}

#hud-hp-count {
	position: absolute;
	display: inline;
	top: -1px;
}
/* -------------------------------------------------------------------------- */
.hud-armor {
	border: 2px solid #333;
	width: 200px;
	text-align: center;
	letter-spacing: 2px;
	background-color: #777;
	font-size: 13px;
	font-weight: 600;
	margin-top: 3px;
	height: 12px;
	position: relative;
}

#hud-armor-progress {
	position: absolute;
	width: 200px;
	height: 12px;
	background-color: #bbb;
}

#hud-armor-count {
	position: absolute;
	display: inline;
	top: -1px;
}
/* -------------------------------------------------------------------------- */
.hud-weapon {
	position: absolute;
	left: 0;
	top: 46px;
	width: 130px;
	height: 38px;
	background-image: url("/game/hud/weapon.png");
	background-size: 130px;
}

#hud-avatar {
	position: absolute;
	border: 2px solid #333;
	border-radius: 42px;
	width: 80px;
	height: 80px;
	top: -7px;
	left: -90px;
	background-image: url("/game/hud/avatar.jpg");
	background-size: cover;
}

#hud-weapon-progress {
	position: absolute;
	width: 60px;
	height: 280px;
	top: 0;
	right: -74px;
	background-image: url("/game/hud/bullet3.png");
	background-size: 60px;
}

.hud-weapon-count {
	position: absolute;
	top: 90px;
	right: 70px;
	color: #ccc;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 4px 15px;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 2px;
}
/* -------------------------------------------------------------------------- */
.enemy {
	position: absolute;
	top: 10px;
	left: 18px;
}

#enemy-avatar {
	position: absolute;
	border: 2px solid #333;
	border-radius: 42px;
	width: 80px;
	height: 80px;
	top: -6px;
	left: 250px;
	background-image: url("/game/img/img16.jpg");
	background-size: cover;
}
/*  */
.enemy-hp {
	left: 315px;
	border: 2px solid #333;
	width: 300px;
	text-align: center;
	letter-spacing: 2px;
	background-color: #070;
	font-size: 13px;
	font-weight: 600;
	height: 12px;
	position: relative;
}

#enemy-hp-progress {
	position: absolute;
	width: 300px;
	height: 12px;
	background-color: #0b0;
}

#enemy-hp-count {
	position: absolute;
	display: inline;
	top: -1px;
}
/*  */
#enemy-name {
	position: absolute;
	top: 19px;
	left: 327px;
	width: 200px;
	color: #ccc;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 4px 15px;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 16px;
}
/* -------------------------------------------------------------------------- */
#big-map {
	display: none;
	position: absolute;
	top: 75px;
	left: 100px;
	border: 1px solid #000;
	width: 750px;
	height: 450px;
	background-image: url("/game/hud/map.jpg");
	background-position: -400px -240px;
}

#big-map-pickup {
	position: absolute;
	left: 472px;
	top: 277px;
	width: 16px;
	height: 16px;
	background-image: url("/cursor.png");
}
/* -------------------------------------------------------------------------- */
#map {
	position: absolute;
	top: 75px;
	left: 15px;
	border: 1px solid #000;
	border-radius: 101px;
	width: 150px;
	height: 150px;
	background-image: url("/game/hud/map.jpg");
	background-position: -400px -240px;
}

#map::before {
	position: absolute;
	content: "";
	display: block;
	width: 180px;
	height: 180px;
	left: -14px;
	top: -14px;
	background-image: url("/game/hud/frame-map2.png");
	background-size: 180px;
}

#map::after {
	position: absolute;
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	left: 67px;
	top: 67px;
	background-image: url("/game/hud/arrow.png");
}
/* -------------------------------------------------------------------------- */
.crystal {
	position: absolute;
	top: 9px;
	left: 55px;
}
/* -------------------------------------------------------------------------- */
.hud-crystal {
	border: 2px solid #333;
	width: 200px;
	text-align: center;
	letter-spacing: 2px;
	background-color: #707;
	font-size: 13px;
	font-weight: 600;
	height: 12px;
	position: relative;
}

#hud-crystal-progress {
	position: absolute;
	width: 0px;
	height: 12px;
	background-color: #b0b;
}

#hud-crystal-count {
	position: absolute;
	display: inline;
	top: -1px;
}
/* -------------------------------------------------------------------------- */
#lives-img {
	position: absolute;
	border: 2px solid #333;
	border-radius: 42px;
	width: 70px;
	height: 70px;
	left: -50px;
	top: -3px;
	background-image: url("/game/hud/crystal.png");
	background-size: 70px;
}

#hud-lives {
	position: absolute;
	width: 90px;
	height: 30px;
	top: 15px;
	left: 24px;
	background-image: url("/game/hud/heart2.png");
	background-size: 30px;
}

#hud-key {
	position: absolute;
	width: 150px;
	height: 0px;
	top: 275px;
	left: -60px;
	background-image: url("/game/hud/key.png");
	background-size: 150px;
	transform: rotate(-50deg);
}
/* -------------------------------------------------------------------------- */
.level {
	position: absolute;
	top: 53px;
	left: 126px;
	color: #ccc;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 4px 15px;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 2px;
}
/* -------------------------------------------------------------------------- */
